<div id="add"> 

<h1>Eventkulator</h1>
<h3>a purchase logger to track your event planning budget</h3>
<br>

<p>
<%= link_to 'add to log', new_list_path %>
</p>
<p>
<%= link_to 'present log', lists_path %>
</p>
