<h1>Eventkulator</h1>
<h3>a purchase logger to track your event planning budget</h3>
<h5>make changes</h5>
<br>

<%= render 'form' %>
<br>

<%= link_to 'check your update', @list %> |
<%= link_to 'go back', lists_path %>

<%= link_to 'add more', new_list_path %>


