<h1>Eventkulator</h1>
<h2>a purchase logger to track your event planning budget</h2>
<h3>add items for the event</h3>
<br>


<%= render 'form' %>
<br>

<%= link_to 'See log of purchases', lists_path %>
